<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/loginstyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USOS</title>
</head>
<body>
    <form action="/submit", method="POST">
    <div id="container">
        <p style="font-size: 24px;">USOS</p>
        <input name="login" type="text" id="login" placeholder="login" required>
        <input name="password" type="password" id="password" placeholder="password" required>
        <button type="submit">Log In</button>
    </div>
</form>
</body>
</html>